.main-wrapper {
    position: relative;
    height: 100vh;
    padding: 3.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
