@import "../GlobalStyles/GlobalStyles.scss";

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 120rem;
    padding: 5rem 0;
}

.test-config {
    display: flex;
    align-items: center;
    padding: 1rem;
    min-height: 5rem;
    width: auto;
    background-color: var(--sub-alt-color);
    border-radius: 0.6rem;

    .col {
        display: flex;
        flex-direction: row;
        width: min-content;
    }

    .left-spacer,
    .right-spacer {
        background: var(--bg-color);
        border-radius: calc(var(--roundness) / 2);
        height: 3rem;
        width: 0.4rem;
        margin: 0 1rem;
    }
}

@media only screen and (max-width: 1000px) {
    .test-config {
        display: grid;
        justify-items: center;
        padding: 0.25rem 1rem;
        min-height: 5rem;
        height: 100px;

        .left-spacer,
        .right-spacer {
            display: none;
        }
    }
}

.text-btn {
    display: flex;
    color: var(--sub-color);
    background-color: transparent;
    outline: none;
    border: none;
    transition: color 0.3s, opacity 0.3s;

    i {
        width: 1.5rem;
        margin: 0 10px;
    }

    &.active {
        color: var(--main-color);
    }

    &:hover {
        color: var(--text-color);
    }

    &:active {
        color: var(--sub-color);
    }

    @include keyframes(blinking) {
        0% {
            opacity: 1;
        }

        50% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
}

.change-source-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    width: fit-content;
    height: 3.6rem;
    margin-top: 7rem;
    color: var(--sub-color);
    outline: none;
    background-color: transparent;
    border: none;

    i {
        margin: 2rem;
    }

    &:hover {
        color: var(--text-color);
    }
}

.test-typing {
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.6rem;
        width: fit-content;
        height: 3.6rem;
        color: var(--sub-color);
        outline: none;
        background-color: transparent;
        border: none;

        i {
            margin: 2rem;
        }

        &:hover {
            color: var(--text-color);
        }
    }

    .main {
        position: relative;
        color: var(--sub-color);
        font-size: var(--test-font-size);
        min-height: 5rem;
        margin: 5rem 0;
        cursor: default;
        width: 100%;
    }

    .reload-btn {
        padding: 3.5rem 4rem;
    }
}

.reload-btn:focus-visible {
    border-radius: 15px;
    box-shadow: 0 0 0 0.2rem var(--text-color);
    outline: none;
    color: var(--text-color);
}
