.wrapper {
    position: relative;
    display: block;
    flex-wrap: wrap;
    justify-content: left;
    color: var(--sub-color);
    font-size: var(--test-font-size);
    width: 100%;
    min-height: 220px;
    text-align: left;
    word-wrap: break-word;
    word-break: normal;
    cursor: default;

    .wrong-space {
        position: relative;
        margin-top: 10px;
        width: 2.15rem;
        height: 1.5rem;
        background-color: var(--error-color);
    }

    .correct {
        color: var(--text-color);
    }
    .incorrect {
        color: var(--error-color);
    }
    .active {
        text-decoration: underline;
        text-decoration-color: var(--text-color);
    }
}
