.wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    color: var(--sub-color);
    font-size: var(--test-font-size);
    width: 120rem;
    height: 100%;
    text-align: left;
    word-wrap: break-word;
    word-break: normal;
    cursor: default;

    .word {
        margin-right: 2.15rem;
    }

    .correct {
        color: var(--text-color);
    }
    .wrong {
        color: var(--error-color);
    }
    .wrong-space {
        background-color: var(--error-extra-color);
    }
}
