.user-typing {
    position: absolute;
    color: transparent;
    font-size: var(--test-font-size);
    width: 150rem;
    height: 100%;
    top: 0;
    bottom: 0;
    text-align: left;
    word-wrap: break-word;
    word-break: break-all;
    cursor: default;
    background-color: transparent;
    outline: none;
    border: none;
    resize: none;
    overflow: hidden;
}

.output {
    position: absolute;
    top: 0;
    width: 150rem;
    height: 5rem;
}
