@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&family=Roboto+Mono:ital,wght@0,400;0,600;0,700;1,400&display=swap");
:root {
    --bg-color: #323437;
    --main-color: #e2b714;
    --caret-color: #e2b714;
    --sub-color: #646669;
    --sub-alt-color: #2c2e31;
    --text-color: #d1d0c5;
    --error-color: #ca4754;
    --error-extra-color: #7e2a33;
    --colorful-error-color: #ca4754;
    --colorful-error-extra-color: #7e2a33;

    --test-font-size: 3.6rem;
}

html {
    font-size: 62.5%;
}

@mixin keyframes($name) {
    @keyframes #{$name} {
        @content;
    }
}

@mixin animation($name, $duration, $method, $times) {
    animation-name: $name;
    animation-duration: $duration;
    animation-fill-mode: $method;
    animation-iteration-count: $times;
}

body {
    // font-family: "IBM Plex Sans", sans-serif;
    color: var(--text-color);
    font-family: "Roboto Mono", monospace;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    background-color: var(--bg-color);

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

// Srollbar CSS
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.1);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

a {
    text-decoration: none;
}

#root,
#__next {
    isolation: isolate;
}
