.wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-items: center;

    .row {
        width: 100%;
    }
}

.left {
    width: 100%;
    display: flex;
    align-items: center;
}

.right {
    .col-wrapper {
        display: flex;
        justify-content: end;
    }
}

.col-wrapper {
    display: flex;
    height: 3.6rem;
    align-items: center;

    // .link+.link {
    //     margin-left: 2.5rem;
    // }

    .link {
        padding: 0 0.5rem;
        color: var(--sub-color);
        transition: background 0.125s, color 0.125s, opacity 0.125s;

        :hover {
            color: var(--text-color);
        }
    }

    button {
        background-color: transparent;
        outline: none;
        border: none;

        i {
            display: flex;
            font-size: 1.2rem;
            font-style: normal;
            align-items: center;

            .svg-inline {
                padding-right: 7px;
            }
        }
    }

    a {
        background-color: transparent;
        outline: none;
        border: none;
        color: var(--sub-color);

        i {
            display: flex;
            font-size: 1.2rem;
            font-style: normal;

            .svg-inline {
                padding-right: 7px;
            }
        }
    }
}

// .level {
//     padding: 0.5px 8px;
//     color: var(--bg-color);
//     background-color: var(--sub-color);
//     border-radius: 5px;
// }

// &:hover .username {
//     color: var(--text-color);
// }

// &:hover .level {
//     background-color: var(--text-color);
// }

// &:hover i {
//     color: var(--text-color);
// }

.key-tips {
    display: flex;
    line-height: 2;
    margin-bottom: 2em;
    padding: 0.5px 5px;
    text-align: center;
    flex-direction: column;
    font-size: 12px;
    color: var(--sub-color);

    .key-text {
        padding: 0.5px 5px;
        color: var(--bg-color);
        background-color: var(--sub-color);
        border-radius: 0.5rem;
        display: inline-block;
        // font-size: 5px;
        // line-height: .7rem;
    }

    .name-text {
        color: var(--text-color);
    }

    .key-tips1 {
        margin-bottom: 8px;
    }
}

.left-right {
    display: flex;
}

.footer-wrapper {
    padding-bottom: 15px;
    padding-left: 0px;
    padding-right: 0px;
}
