.wrapper {
    display: flex;
    width: 100%;
    height: 3.6rem;
    align-items: center;
    justify-items: center;
    justify-content: center;

    .row {
        width: 100%;
    }
}

.right {
    .col-wrapper {
        display: flex;
        justify-content: end;
    }
}

.col-wrapper {
    display: flex;
    height: 3.6rem;

    .link + .link {
        margin-left: 3.5rem;
    }

    .link {
        padding: 0 0.5rem;
        color: var(--sub-color);
        transition: background 0.125s, color 0.125s, opacity 0.125s;
        &:hover {
            color: var(--text-color);
        }
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    button {
        background-color: transparent;
        outline: none;
        border: none;
    }

    .logo-link {
        height: 3.6rem;
        width: 35rem;
        margin-right: 3.5rem;
    }
}

.user-info {
    margin-right: 3.5rem;
    color: var(--sub-color);

    div {
        margin: 0 5px;
    }

    .level {
        padding: 0.5px 8px;
        color: var(--bg-color);
        background-color: var(--sub-color);
        border-radius: 5px;
    }

    &:hover .username {
        color: var(--text-color);
    }

    &:hover .level {
        background-color: var(--text-color);
    }

    &:hover i {
        color: var(--text-color);
    }
}

