.modal-content {
    background-color: var(--bg-color);

    button {
        padding: 8px 16px;
        color: var(--sub-color);
        background-color: transparent;
        outline: none;
        border: none;
    }
}

.btn {
    &:hover {
        background-color: var(--text-color) !important;
        color: var(--bg-color) !important;
    }
}

.modal-header {
    border: none;
}

.modal-body {
    padding: 0;
}

.modal-footer {
    border: none;
}

.entry {
    text-align: left;
    width: 100%;

    &:hover {
        background-color: var(--text-color) !important;
        color: var(--bg-color) !important;
    }
}
