.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

.test-config {
    display: flex;
    align-items: center;
    padding: 1rem;
    min-height: 5rem;
    width: auto;
    background-color: var(--sub-alt-color);
    border-radius: 15px;

    .col {
        display: flex;
        flex-direction: row;
        width: min-content;
    }

    .left-spacer,
    .right-spacer {
        background: var(--bg-color);
        border-radius: calc(var(--roundness) / 2);
        height: 3rem;
        width: 0.4rem;
        margin: 0 1rem;
    }
}

.text-btn {
    display: flex;
    color: var(--sub-color);
    background-color: transparent;
    outline: none;
    border: none;
    transition: color 0.3s;
    i {
        width: 1.5rem;
        margin: 0 10px;
    }
}

.text-btn.active {
    color: var(--main-color);
}

.text-btn:hover {
    color: var(--text-color);
}

.test-typing {
    margin: 8rem 0 5rem 0;

    button {
        font-size: 1.6rem;
        width: 100%;
        height: 3.6rem;
        color: var(--sub-color);
        outline: none;
        background-color: transparent;
        border: none;

        i {
            margin: 2rem;
        }
    }
    button:hover {
        color: var(--text-color);
    }
    .main {
        position: relative;
        color: var(--sub-color);
        font-size: var(--test-font-size);
        width: 150rem;
        min-height: 5rem;
        margin: 5rem 0;
        cursor: default;
    }
}
