.caret {
    position: relative;
    top: 8px;
    display: inline-block;
    width: 5px !important;
    height: 4rem !important;
    background-color: var(--caret-color);
    opacity: 0;
    border-radius: 5px 5px 5px 5px;
    animation: caretAnimation 1.2s ease-in-out infinite alternate;
}

@keyframes caretAnimation {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
